body {
    background-color: rgb(156, 5, 0);
    color: rgb(0, 0, 0);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}
button{
    background-color: rgb(155, 8, 8);
    color: rgb(0, 0, 0);
    font-family: "Bai Jamjuree", sans-serif;  
}




